/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 set 2023, 11:23:40
    Author     : Filippo
*/
.styletest{
    text-align: center;
    font-family: impact;
}

body{
    color : lime;
}
